.titulo {
    text-decoration:wavy;
    text-orientation: sideways-right;
}
.imgProd {
    border-style:groove;
    border-radius: 25px;
    padding: 15px;
    height: 300px;
    width: 300px;
}
.vaciarCarro {
    width: 14%;
    background-color: rgb(94, 94, 94);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.vaciarCarro:hover {
    background-color: red;
}
.text-muted {
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align:center;
    justify-content: space-evenly;
}
.contador {
    padding: 50px;
}
.irComprar {
    width: 14%;
    background-color: rgb(94, 94, 94);
    margin-top: 10px;
}
.irComprar:hover{
    background-color: green;
}
.cantidad {
    margin-top: 20px;
}
.totalCompra {
    margin-top: 15px;
}
.finalizarCompra {
    width: 14%;
    background-color: rgb(94, 94, 94);
    margin-top: 10px;
}
.finalizarCompra:hover{
    background-color: green;
}
.botonEliminar {
    background-color: white;
    border-color: gray;
}
